/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 25px;
  padding-bottom: 20px;
}

.jumbotron {
  background-color: white
}
nav {
  opacity: 0.95;
  filter: alpha(opacity=50); /* For IE8 and earlier */
}

.navbar-inverse {
  background-color: #87CEFF; 
  border-color: #DDD;
  font-size: 31px;
}

.navbar-inverse .navbar-brand {
  color: black;
  font-size: inherit;
}

.navbar-inverse .navbar-nav>li>a {
  color: #555555;
}

.navbar-inverse .navbar-nav>.active>a {
  color: black;
  background-color: transparent;
}

.navbar-inverse .navbar-nav>li>a:hover {
    color: black;
    background-color: transparent;
}

.navbar-inverse .navbar-nav>.active>a:hover {
    color: black;
    background-color: transparent;
}

.navbar-brand {
  padding-top: 15px;
  padding-left: 15px;
}

.navbar-inverse .navbar-brand:hover {
    color: black;
}

.contact-form {
  padding-top: 25px;
}

.contact-padding {
	padding-top: 51px;
}

.top-buffer {
  margin-top:20px;
}

.small-top-buffer {
  margin-top:15px;
}
.big-logo {
  margin-top: 20px;
  margin-left: 20px;
}

